:root {--pseudo-display:none;}
  svg {
    width: 30px;
    height: 30px;
    transform: rotate(-90deg) !important;
    position: relative;
    right: 0;
    background-color: #343c44;
    z-index: 20;
  }
  .passwordBox {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #343c44;
    padding: 6px 12px;
    border-radius: 10px;
  }
  .passwordBox::before {
    display: var(--pseudo-display);
    content: "";
    position: fixed;
    background: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.3)
    );
    right: 155px;
    width: 280px;
    height: 280px;
    transform: rotate(-45deg) skew(18deg, 18deg);
  }
  i {
    position: relative;
    left: 0;
    color: #8a8a8a;
    font-size: 20px;
  }
  #password {
    background-color: transparent;
    width: 180px;
    height: 75%;
    border: none;
    outline: none;
    color: #8a8a8a;
    font-size: 16px;
    margin: 3px 10px 0;
    position: relative;
    left: 0;
  }